FlaskToDoList/__pycache__
FlaskToDoList/.venv

PythonPOS/tempCodeRunnerFile.py
PythonPOS/__pycache__
PythonPOS/test.py
PythonPOS/test1.py

tempCodeRunnerFile.py

NodeMiniProjects/node_pg_app/node_modules

MiniProjects/genshinToDo/.vscode
MiniProjects/genshinToDo/.angular