FlaskToDoList/__pycache__
FlaskToDoList/.venv

PythonPOS/tempCodeRunnerFile.py
PythonPOS/__pycache__
PythonPOS/HtmlReceipt.html
PythonPOS/newReceipt.txt
PythonPOS/test.py
PythonPOS/test1.py

tempCodeRunnerFile.py

NodeMiniProjects/node_pg_app/node_modules

PythonPOS/MultiPageVersion/__pycache__


MiniProjects/genshinToDo/.vscode
MiniProjects/genshinToDo/.angular